<a class="item">
ChatRoom
</a>
<a class="item">
Messages
</a>
<div class="right item">
    <div class="item">Log In</div>
    <div class="item">Log Out</div>
    <div class="item">Sign Up</div>
</div>
