
<div class="item">
  <%= link_to "Chat Room", root_path, class: "left" %>
</div>
<div class="item">
  <%= link_to "Messages", root_path, class: "left" %>
</div>

<div class="right item">
  <div>
    <%= link_to "log In", login_path, class: "item" %>
  </div>
  <div class="item">Log Out</div>
  <div class="item">Sign Up</div>
</div>
